#from github qt/c++ sample .gitignore
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Folders
_obj
_test
*/build/
**/build-tetrix-Desktop-Debug/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# LaTeX files
*.aux
*.log
*.pdf
*.synctex.gz*
*.out
*.bbl
*.blg
*.dvi

#additional stuff
*~
*.lock
