#from github qt/c++ sample .gitignore
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# LaTeX files
*.aux
*.log
*.pdf
*.synctex.gz*
*.out

#additional stuff
*~
*.lock
